<div class="container-fluid">
  <header>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><a [routerLink]="[ '/' ]">Databinding (básico)</a></li>
        <li routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><a [routerLink]="[ '/advanced-databinding' ]">Databinding (avanzado)</a></li>
        <li routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><a [routerLink]="[ '/lifecycle-hooks' ]">Lifecycle Hooks</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Prueba de componentes</h1>
      <span><i>Estilos de bootstrap</i></span>
      <hr>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>