<div class="container-fluid">
  <header>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Databinding (básico)</a></li>
        <li class=""><a href="#">Link </a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <h1>Prueba de componentes</h1>
      <span><i>Estilos de bootstrap</i></span>
      <hr>
      
      <h1 class="bg-red-title">Databinding</h1>
      <span class="bg-red">String interpolation</span>
      <app-string-interpolation></app-string-interpolation> 
      <br>
    
      <span class="bg-red">Two Way Databinding</span>
      <app-two-way-databinding></app-two-way-databinding> 
      <br>
    
      <span class="bg-red">Usando etiqueta ng-content</span>
      <app-ng-content-feature>
        <p>Este es un contenido que esta dentro de las etiquetas del componente como si fuese una etiqueta normal y este efecto se logra usando la etiqueta <code> < ng-content > </code> dentro de la plantilla del componente.
        </p>
      </app-ng-content-feature>
      <br>
      
      <span class="bg-red">Property binding</span>
      <app-property-binding></app-property-binding>
      <br>
      <span class="bg-red">Event binding</span>
      <app-event-binding></app-event-binding>
      <br>
    
      <h1 class="bg-green-title">Ejercicio de Componentes y Databinding</h1>
      <span class="bg-green">Ejercicio Databinding</span>
      <app-databinding-exercise></app-databinding-exercise>
    </div>
  </div>
</div>