<div class="container">
  <h1>Prueba de componentes</h1>
  <span>Estilos de bootstrap</span>
  <hr>
  <h1 class="bg-red">Databinding</h1>
    <span class="bg-red">String interpolation</span>
    <app-string-interpolation></app-string-interpolation> 
    <br>
  
    <span class="bg-red">Two Way Databinding</span>
    <app-two-way-databinding></app-two-way-databinding> 
    <br>
  
    <span class="bg-red">Usando etiqueta ng-content</span>
    <app-ng-content-feature>
      <p>Este es un contenido que esta dentro de las etiquetas del componente como si fuese una etiqueta normal y este efecto se logra usando la etiqueta <code> < ng-content > </code> dentro de la plantilla del componente.
      </p>
    </app-ng-content-feature>
    <br>
    
    <span class="bg-red">Property binding</span>
    <app-property-binding></app-property-binding>
    <br>
    <br>
    <br>
    <span class="bg-red">Event binding</span>
    
</div>