/* You can add global styles to this file, and also import other style files */
.bg-red-title, .bg-green-title, .bg-purple-title, .bg-orange-title, .bg-blue-title, .bg-red, .bg-green, .bg-purple, .bg-orange, .bg-blue{
    color: white;
    padding: 10px;
}
.bg-red-title{
    background-image: linear-gradient(to left , white, red 50%);    
}
.bg-green-title{
    background-image: linear-gradient(to left , white, green 50%);    
}
.bg-purple-title{
    background-image: linear-gradient(to left , white, purple 50%);    
}
.bg-orange-title{
    background-image: linear-gradient(to left , white, orange 50%);    
}
.bg-blue-title{
    background-image: linear-gradient(to left , white, blue 50%);    
}

.bg-red{
    background: red;
}
.bg-green{
    background: green;
}
.bg-purple{
    background: purple;
}
.bg-orange{
    background: orange;
}
.bg-blue{
    background: blue;
}
.border-1{
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: 0 0 11px #333333;
}
.border-red{
    border-color: red;
}
.border-green{
    border-color: green;
}
.border-purple{
    border-color: purple;
}
.border-orange{
    border-color: orange;
}
.border-blue{
    border-color: blue;
}

.border-red, .border-green, .border-purple, .border-orange, .border-blue, .mb-20{
    margin-bottom: 20px;
}

.ma-10{
    margin: 10px;
}